<h3>Comment Table</h3>

<% if (comments) { %> <% comments.forEach(comment => { %>
<li><%= comment.post_id %></li>
<li><%= comment.user_id %></li>
<li><%= comment.comment %></li>
<br />
<% }) %> <% } %>
