<h3>User table</h3>

<% if (users) { %>
    <% users.forEach(user => { %>
        <li><%= user.name %></li>
        <li><%= user.username %></li>
        <li><%= user.email %></li>
        <br /><br />
    <% }) %> 
<% } %>


